<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Impuestos Prueba Tecnica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Impuestos Prueba Técnica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/impuestos/movimientos}">Movimientos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br /><br /><br />

<div class="container">
    <div class="row">
        <h1>Lista de Movimientos</h1>
    </div>
    <br />
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Fecha de Movimiento</th>
            <th>Sticker</th>
            <th>Número de Identificación</th>
            <th>Número de Formulario</th>
            <th>Valor del Movimiento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movimiento : ${movimientos}">
            <td th:text="${movimiento.fechaMovimiento}"></td>
            <td th:text="${movimiento.sticker}"></td>
            <td th:text="${movimiento.numeroId}"></td>
            <td th:text="${movimiento.numeroFormulario}"></td>
            <td th:text="${movimiento.valor}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>